* {
  box-sizing: border-box;
}

html {
  font-size: 30px;
  font-family: sans-serif;
}

body {
    background-color: #ebeaea;
}

a {
  color: #a74c22;
  text-decoration: none;
}

p {
  font-family: 'Times New Roman', Times, serif;
}

.bold {
  font-weight: 800;
}

.small-text {
  font-size: 0.60rem;
}

.xtra-small-text {
  font-size: 0.50rem;
}

.medium-text {
  font-size: 1rem;
}

.title {
    margin:30px 0 0 20px;
}

.divider {
  border-bottom: 1px solid #a8a8a8;
}
